<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 mt-5 text-center">
        <a href="/" class="page-title">URL Shortener</a>
      </div>
    </div>
    <div class="row mt-3 justify-content-center align-self-center">
      <img src="/images/link.png" alt="link-img" width="13%">
    </div>
    <div class="row mt-5 justify-content-center">
      {{#if shortUrl}}
      <div class="col-10 info-row" style="border-radius: 0.25rem;">
        <div class="row justify-content-between align-items-center">
          <div class="col-5 info-text">
            {{showOriginUrl}}
          </div>
          <div class="col-5">
            <a href="{{originUrl}}" class="short-url">{{shortUrl}}</a>
            <input type="hidden" class="hidden-input" value="{{shortUrl}}" />
          </div>
          <div class="col-2 text-right">
            <button type="button" class="btn btn-link copy" onclick="clickEvent()"
              style="background-color: transparent; text-decoration: none" data-toggle="popover"
              data-content="success">Copy</button>
          </div>
        </div>
      </div>
      {{else}}
      <div class="col-8">
        <form action="/shortcut" method="post" onsubmit="return validateForm()" style="text-align: center;">
          <input type="text" name="inputUrl" placeholder="Input URL here" class="form-control input-url"
            style="height: 45px;">
          <button type="submit" class="btn btn-lg btn-outline-primary mt-3">Shorten</button>
        </form>
      </div>
      {{/if}}
    </div>


  </div>
</div>